<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title></title>
<link rel="stylesheet" href="../css/popup.css" media="screen" type="text/css" />

<style type="text/css">

</style>
</head>

<body>
 
  <div id="easy123_w">
    <div id="popup_t"><%:parental_control%></div>
    <div id="popup" class="popup" ><a class="close" href="../easymode.html" target="_top">&times;</a></div >

   
<div id="pc_d">
<table width="100%" height="25" border="0" cellpadding="6" cellspacing="1" bgcolor="#E4E4E4" id="list_table">
    <tbody>
      <tr align="center">
        <td width="115" bgcolor="#F0F0F0" ><%:status%></td>
        <td width="178" bgcolor="#F0F0F0"><%:children_name%></td>
        <td width="299" bgcolor="#F0F0F0"><%:easy_filter_IAS%></td>
        <td width="198" bgcolor="#F0F0F0"><%:easy_filter_buffer%></td>
      </tr>
      <tr align="center">
        <td bgcolor="#FFFFFF" >&nbsp;</td>
        <td bgcolor="#FFFFFF">&nbsp;</td>
        <td bgcolor="#FFFFFF">&nbsp;</td>
        <td bgcolor="#FFFFFF">&nbsp;</td>
      </tr>
    </tbody>
  </table>
</div>


</div>










</body>
</html>
