<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Status</title>
</head>
<frameset rows="*" cols="220,*,50" framespacing="0" frameborder="no" border="0">
  <frame src="<%=controller%>/expert/configuration/network/menu_wan" name="menu" frameborder="no" scrolling="no" noresize="noresize" id="menu" title="leftFrame" />
  <frame src="<%=controller%>/expert/configuration/network/internet_connection" name="data" id="data" title="mainFrame" />
  <frame src="<%=controller%>/expert/configuration/network/mode_ex" name="easy" frameborder="no" scrolling="no" noresize="noresize" id="easy" title="rightFrame" />
</frameset>
<noframes><body>
</body></noframes>
</html>
